<!DOCTYPE html>
<html>

<head lang="en">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
	<link href="assets/css/styles.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
	<script src="assets/js/script.js"></script>
</head>

<body>
    
    <header><h1>Erply proovitöö</h1></header>


	<div class="main-content">

		<div class="all-products page">

			<div class="filters">
				<form>

					<div class="filter-criteria">
						<span>Availability</span>
						<label><input type="checkbox" name="instock" value="true">Available</label>
						<label><input type="checkbox" name="instock" value="false">Not Available</label>
					</div>

					<div class="filter-criteria" id = "storesFilter">
						<span>Country</span>
                                                
					</div>
					<button>Clear filters</button>

				</form>

			</div>
                    <div class="filters" style="overflow:scroll; height: 400px;margin-top: 300px">
                                <h2>Shopping cart</h2>
                               <ul id ="shoppingCart" class="product-description">                                           
                               </ul>                                         
                        </div>

			<ul class="products-list">
				<script id="products-template" type="x-handlebars-template">​
					{{#each this}}
						<li data-index="{{id}}">
							<a href="#" class="product-photo"><img src="{{image}}" height="130" alt="{{name}}"/></a>
							<h2><a href="#"> {{name}} </a></h2>
							<ul class="product-description">
								<li><span>Store: </span>{{store}} </li>
								<li><span>Availability: </span>{{instock}}</li>
							</ul>
							<p class="product-price">{{price}} {{currency}}</p>
							<div class="highlight"></div>
						</li>
					{{/each}}
                                        
				</script> 
			</ul>
                                            

		</div>


		<div class="single-product page">

			<div class="overlay"></div>

			<div class="preview-large">
				<h3 id="name"></h3>
				<img src=""/>
				<p id="desc"></p>
                                <p id="price"></p>
                                <p id="stock"></p>   
                                <p id="store"></p>
                                <p id="code"></p>
                                <button id="addCart">Add to cart!</button>
				<span class="close">×</span>
			</div>

		</div>
           


	</div>




</body>
</html>
